name: "DevSecOps Pipeline for typescript based react app."

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Unit Testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repo
        uses: actions/checkout@v4

      - name: Setup Nodejs Configuration
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install Dependancies
        run: npm ci

      - name: Run Test Cases
        run: npm test || echo "No tests found, would add tests in a real project"
